# Folders #
###########
#Data Save folder so i want make my repo full of trash
*DataFolder/

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Specific Files #
##################
#Specific files i don't want to be seen by others :P

DTPServer/out/build/DTL.txt
DTPClient/out/build/ComputerData.csv
